.pio-button{
    position: fixed;
    right: 4%;
    bottom: 5%;
    background: #009bcf;
    color: white;
    border: none;
    border-radius: 500000px;
}

.message{
    border-radius: 10px;
    transition-duration: .3s;

}.message:hover{
    background-color: #f0f0f0;
}

.avatar{
    border-radius: 500px;
    overflow: hidden;
}
